.sp-wrapper {
  margin-bottom: 2em;
  position: relative;
  --sp-layout-height: 600px !important;
}

.sp-preview-iframe {
  height: 600px !important;
}

.cm-editor {
  background-color: inherit;
}

.sp-wrapper:hover .sandpack__copy-button {
  opacity: 1;
}

.sandpack__copy-button {
  background: none;
  border: 0;
  width: 24px;

  position: absolute;
  right: 1em;
  top: 1.5em;

  z-index: 99;
  color: #393A34;

  opacity: 0;

  transition: 0.2s ease;
  cursor: pointer;
}
