*.log
.DS_Store
node_modules
.cache
dist
build
.turbo
test-results
__screenshots__

# generated docs
docs/virtuoso-api/*
docs/virtuoso-message-list-api/*
docs/virtuoso-masonry-api/*
apps/virtuoso.dev/docs/virtuoso-masonry-api/*
.vscode
.serena
.claude/settings.local.json
