<footer class="mb-8 flex flex-col gap-3 text-xs sm:items-center">
  <nav class="flex flex-col gap-2 sm:mx-auto sm:flex-row sm:divide-x [&>a]:px-2">
    <a href="mailto:support@virtuoso.dev">support@virtuoso.dev</a>
    <a href="/terms-of-use">Terms of Use</a>
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/message-list-eula">EULA</a>
  </nav>
  <p class="text-muted-foreground">&copy; Martiti 2 LTD</p>
</footer>
