.virtuoso-grid-list {
  display: flex;
  flex-wrap: wrap;
}

.virtuoso-grid-item {
  padding: 0.5rem;
  width: 25%;
  background: #f5f5f5;
  display: flex;
  flex: none;
  align-content: stretch;
  box-sizing: border-box;
}

.virtuoso-grid-item > div {
  flex: 1;
  text-align: center;
  font-size: 80%;
  padding: 2rem;
  box-shadow: 0 5px 6px -6px #777777;
  background: white;
}

@media (max-width: 1024px) {
  .virtuoso-grid-item {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .virtuoso-grid-item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .virtuoso-grid-item {
    width: 100%;
  }
}
