---
import * as ReadmeContent from "../../../../README.md";
import Layout from "../layouts/layout.astro";

const { Content } = ReadmeContent;
---

<Layout frontmatter={{ title: "React Virtuoso" }}>
	<div class="prose prose-lg max-w-none">
		<Content />
	</div>
</Layout>
