name: CI
on: [push]

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true
      SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      USE_SSH: true
      GIT_USER: petyosi

    steps:
      - name: Begin CI...
        uses: actions/checkout@v4

      - name: Use Node 24
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          check-latest: true
          cache: 'npm'

      - name: Install dependencies

        run: |
          npm install -g npm@latest
          npm install 
          npm install --workspaces

      # - name: run CI checks
      #   run: |
      #     npm run ci

      - name: Release
        id: changesets
        if: github.ref == 'refs/heads/master'
        uses: changesets/action@v1
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-react-virtuoso
          path: packages/react-virtuoso/playwright-report/
          retention-days: 7
