---
const { siteTitle, siteTitleHref } = Astro.locals.starlightRoute
---

<a class="site-title sl-flex" href={siteTitleHref}>
  <svg class="logo" fill="none" height="27" viewBox="0 0 157 27" width="157" xmlns="http://www.w3.org/2000/svg">
    <mask height="27" id="mask0_2001_191" maskUnits="userSpaceOnUse" style="mask-type:alpha" width="157" x="0" y="0">
      <path
        clip-rule="evenodd"
        d="M156.124 0H0.123901V27H32.1611L32.1028 26.443L148.994 14.2046L149.098 15.1992L36.3861 27H156.124V0ZM34.0195 21.6135L122.258 12.3751L122.387 13.6091L34.1487 22.8475L34.0195 21.6135ZM58.8504 9.50464L2.24947 15.4307L2.3536 16.4252L58.9545 10.4992L58.8504 9.50464Z"
        fill="#D9D9D9"
        fill-rule="evenodd"></path>
    </mask>
    <g mask="url(#mask0_2001_191)">
      <path d="M25.5276 26.5001V5.50014H29.6476V26.5001H25.5276Z" fill="currentColor"></path>
      <path
        d="M35.9804 26.5001V5.50014H40.1404V12.1001L39.7404 10.5001C40.0337 9.4868 40.5271 8.5668 41.2204 7.74014C41.9404 6.91347 42.7537 6.26014 43.6604 5.78014C44.5937 5.30014 45.5381 5.10014 46.5248 5.10014C46.9781 5.10014 47.4048 5.14014 47.8048 5.22014C48.2315 5.30014 48.5648 5.39347 48.8048 5.50014L47.6082 9.50014C47.2882 9.3668 47.0604 9.3001 46.6604 9.2201C46.2871 9.11344 45.9137 9.0601 45.5404 9.0601C44.8204 9.0601 44.1271 9.20677 43.4604 9.5001C42.8204 9.76677 42.2471 10.1534 41.7404 10.6601C41.2604 11.1401 40.8737 11.7134 40.5804 12.3801C40.2871 13.0201 40.1404 13.7268 40.1404 14.5001V26.5001H35.9804Z"
        fill="currentColor"></path>
      <path d="M54.4945 26.5001V0.140137H58.6145V26.5001H54.4945ZM50.1345 9.50014V5.50014H63.4945V9.50014H50.1345Z" fill="currentColor"
      ></path>
      <path
        d="M74.606 26.9001C73.1127 26.9001 71.806 26.5535 70.686 25.8601C69.5927 25.1668 68.7394 24.1935 68.126 22.9401C67.5394 21.6868 67.246 20.1935 67.246 18.4601V5.50014H71.366V17.3401C71.366 18.5668 71.5527 19.6335 71.926 20.5401C72.326 21.4201 72.886 22.1001 73.606 22.5801C74.3527 23.0601 75.246 23.3001 76.286 23.3001C77.0594 23.3001 77.766 23.1801 78.406 22.9401C79.046 22.6735 79.5927 22.3135 80.046 21.8601C80.526 21.4068 80.8994 20.8601 81.166 20.2201C81.4327 19.5801 81.566 18.8868 81.566 18.1401V5.50014H85.686V26.5001H81.566V22.1001L82.286 21.6201C81.966 22.6068 81.4194 23.5001 80.646 24.3001C79.8994 25.1001 79.006 25.7401 77.966 26.2201C76.926 26.6735 75.806 26.9001 74.606 26.9001Z"
        fill="currentColor"></path>
      <path
        d="M100.905 26.9001C98.8514 26.9001 97.0114 26.4335 95.3848 25.5001C93.7848 24.5401 92.5181 23.2468 91.5848 21.6201C90.6514 19.9668 90.1848 18.0868 90.1848 15.9801C90.1848 13.8735 90.6514 12.0068 91.5848 10.3801C92.5181 8.7268 93.7848 7.43347 95.3848 6.50014C97.0114 5.54014 98.8514 5.06014 100.905 5.06014C102.931 5.06014 104.745 5.54014 106.345 6.50014C107.971 7.43347 109.251 8.7268 110.185 10.3801C111.118 12.0068 111.585 13.8735 111.585 15.9801C111.585 18.0868 111.118 19.9668 110.185 21.6201C109.251 23.2468 107.971 24.5401 106.345 25.5001C104.745 26.4335 102.931 26.9001 100.905 26.9001ZM100.905 23.1401C102.158 23.1401 103.278 22.8335 104.265 22.2201C105.251 21.5801 106.025 20.7268 106.585 19.6601C107.145 18.5668 107.411 17.3401 107.385 15.9801C107.411 14.5935 107.145 13.3668 106.585 12.3001C106.025 11.2068 105.251 10.3535 104.265 9.74014C103.278 9.1268 102.158 8.82014 100.905 8.82014C99.6514 8.82014 98.5181 9.14014 97.5048 9.78014C96.5181 10.3935 95.7448 11.2468 95.1848 12.3401C94.6248 13.4068 94.3581 14.6201 94.3848 15.9801C94.3581 17.3401 94.6248 18.5668 95.1848 19.6601C95.7448 20.7268 96.5181 21.5801 97.5048 22.2201C98.5181 22.8335 99.6514 23.1401 100.905 23.1401Z"
        fill="currentColor"></path>
      <path
        d="M123.074 26.9001C121.314 26.9001 119.727 26.5935 118.314 25.9801C116.901 25.3668 115.727 24.4601 114.794 23.2601L117.594 20.8601C118.394 21.7935 119.261 22.4735 120.194 22.9001C121.154 23.3001 122.234 23.5001 123.434 23.5001C123.914 23.5001 124.354 23.4468 124.754 23.3401C125.181 23.2068 125.541 23.0201 125.834 22.7801C126.154 22.5401 126.394 22.2601 126.554 21.9401C126.714 21.5935 126.794 21.2201 126.794 20.8201C126.794 20.1268 126.541 19.5668 126.034 19.1401C125.767 18.9535 125.341 18.7535 124.754 18.5401C124.194 18.3001 123.461 18.0601 122.554 17.8201C121.007 17.4201 119.741 16.9668 118.754 16.4601C117.767 15.9535 117.007 15.3801 116.474 14.7401C116.074 14.2335 115.781 13.6868 115.594 13.1001C115.407 12.4868 115.314 11.8201 115.314 11.1001C115.314 10.2201 115.501 9.42014 115.874 8.70014C116.274 7.95347 116.807 7.31347 117.474 6.78014C118.167 6.22014 118.967 5.79347 119.874 5.50014C120.807 5.2068 121.794 5.06014 122.834 5.06014C123.821 5.06014 124.794 5.19347 125.754 5.46014C126.741 5.7268 127.647 6.11347 128.474 6.62014C129.301 7.1268 129.994 7.7268 130.554 8.42014L128.194 11.0201C127.687 10.5135 127.127 10.0735 126.514 9.70014C125.927 9.30014 125.327 8.99347 124.714 8.78014C124.101 8.5668 123.541 8.46014 123.034 8.46014C122.474 8.46014 121.967 8.51347 121.514 8.62014C121.061 8.7268 120.674 8.8868 120.354 9.10014C120.061 9.31347 119.834 9.58014 119.674 9.90014C119.514 10.2201 119.434 10.5801 119.434 10.9801C119.461 11.3268 119.541 11.6601 119.674 11.9801C119.834 12.2735 120.047 12.5268 120.314 12.7401C120.607 12.9535 121.047 13.1801 121.634 13.4201C122.221 13.6601 122.967 13.8868 123.874 14.1001C125.207 14.4468 126.301 14.8335 127.154 15.2601C128.034 15.6601 128.727 16.1268 129.234 16.6601C129.767 17.1668 130.141 17.7535 130.354 18.4201C130.567 19.0868 130.674 19.8335 130.674 20.6601C130.674 21.8601 130.327 22.9401 129.634 23.9001C128.967 24.8335 128.061 25.5668 126.914 26.1001C125.767 26.6335 124.487 26.9001 123.074 26.9001Z"
        fill="currentColor"></path>
      <path
        d="M144.655 26.9001C142.601 26.9001 140.761 26.4335 139.135 25.5001C137.535 24.5401 136.268 23.2468 135.335 21.6201C134.401 19.9668 133.935 18.0868 133.935 15.9801C133.935 13.8735 134.401 12.0068 135.335 10.3801C136.268 8.7268 137.535 7.43347 139.135 6.50014C140.761 5.54014 142.601 5.06014 144.655 5.06014C146.681 5.06014 148.495 5.54014 150.095 6.50014C151.721 7.43347 153.001 8.7268 153.935 10.3801C154.868 12.0068 155.335 13.8735 155.335 15.9801C155.335 18.0868 154.868 19.9668 153.935 21.6201C153.001 23.2468 151.721 24.5401 150.095 25.5001C148.495 26.4335 146.681 26.9001 144.655 26.9001ZM144.655 23.1401C145.908 23.1401 147.028 22.8335 148.015 22.2201C149.001 21.5801 149.775 20.7268 150.335 19.6601C150.895 18.5668 151.161 17.3401 151.135 15.9801C151.161 14.5935 150.895 13.3668 150.335 12.3001C149.775 11.2068 149.001 10.3535 148.015 9.74014C147.028 9.1268 145.908 8.82014 144.655 8.82014C143.401 8.82014 142.268 9.14014 141.255 9.78014C140.268 10.3935 139.495 11.2468 138.935 12.3401C138.375 13.4068 138.108 14.6201 138.135 15.9801C138.108 17.3401 138.375 18.5668 138.935 19.6601C139.495 20.7268 140.268 21.5801 141.255 22.2201C142.268 22.8335 143.401 23.1401 144.655 23.1401Z"
        fill="currentColor"></path>
      <path d="M9.13391 26.5L0.253906 5.5H4.69391L11.0939 21.22L10.3339 21.58L17.1739 5.5H21.4139L12.0939 26.5H9.13391Z" fill="currentColor"
      ></path>
      <rect fill="currentColor" height="3.37622" width="4.12347" x="25.516" y="0.157959"></rect>
    </g>
  </svg>
  <span class:list={{ 'sr-only': true }} translate="no">
    {siteTitle}
  </span>
</a>

<style>
  @layer starlight.core {
    .site-title {
      align-items: center;
      gap: var(--sl-nav-gap);
      font-size: var(--sl-text-h4);
      font-weight: 600;
      color: var(--sl-color-text-accent);
      text-decoration: none;
      white-space: nowrap;
      min-width: 0;
    }
    span {
      overflow: hidden;
    }
    .logo {
      height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
      width: auto;
      max-width: 100%;
    }
  }
</style>
